/* Header sectin styles */
.banner {
    background-image: url('../images/Banner\ Image.png');
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    margin: 50px 140px 0px 140px;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
}

#header-text1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 531px 0px 530px;
}

#header-text2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px 177px 344px;
}


/* Discount section style */
.dis-sec {
    font-family: Inter;
    font-weight: 700;
}

#dis-text1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin: 120px 609px 48px 608px;
}

#dis-text2 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 0px 601px 16px 602px;
}

#dis-text3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin: 0px 595px 0px 595px;
}

.dis-sec {
    background: #FFF;
}

.img-hny {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: 48px 398.1px 0px 399px;
}

/* Party section start */
.party-sec {
    background-image: url('../images/Vectorrr.png');
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    border-radius: 16px;
    margin: 120px 140px 0px 140px;
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#img-2024 {
    margin: 68.11px 138px 67.23px -460px;
    transition: transform 0.5s ease-out;
}
#img-2024:hover{
    transform: scale(1.2) rotate(-10deg);
}


#party-text1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 126px 552px 0px 126px;
    width: 642px;
    margin: 0;
}

#party-text2 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 497px 32px 126px;
    margin: 0;
}

#party-text3 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 1059px 142px 158px;
}

.join-link {
    color: #FFF;
    text-decoration: none;
}

/* Event section start */

.event-sec {
    width: 1320px;
    height: 482px;
    margin: 120px 140px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

#event-text {

    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding: 100px 386px 0px 385px;

}

.event-title {
    color: #F00;
}

.event-btn {
    color: #FFF;
    border-radius: 8px;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 48px 577px 110px 576px;
    padding: 16px 32px;
    white-space: nowrap;
    border-color: transparent;
}

#event-btn-text{
    color: #FFF;
    text-decoration: none;
}

/* Offer section start */
.offer-sec {
    display: flex;
    margin: 120px 140px;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    height: 482px;

}

.offer-col1 {}

.offer-col1 p {
    margin: 0;
}

#offer-col1-text1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 104;
}

#offer-col1-text2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 16px 0px 22px 0px;
}

#offer-col1-text3 {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer-col2-img {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 39.08px;
    width: 408.92px;
    height: 408.92px;
    flex-shrink: 0;
}

.offer-col3 p {
    margin: 0;
}


#offer-col3-text1 {
    margin-top: 112px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding: 0px 0px 16px 0px;
}

#offer-col3-text2 {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

#offer-col3-img {
    padding: 43px 136px 0px 0px;
}


/* Holiday sale section start */

.sale-sec {
    width: 1320px;
    height: 986px;
    margin: 120px 140px;
    align-content: center;

}

.sale-sec p {
    margin: 0;
}

#sale-sec-text1 {
    color: #070211;
    font-family: Inter;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

#sale-sec-text2 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding: 16px 0px 28px 0px;

}


#sale-sec-text2-style2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

#sale-sec-text3 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    padding: 0px 126px 0px 126px;
}

/* Holiday sale section img start */

.sale-sec-img {
    margin-top: 64px;
    width: 1320px;
    height: 662.07px;
    background-image: url('../images/Rectangle\ 2.png'), url('../images/Rectangle\ 1.png');
    background-size: 1320px 229px, 429px 433px;
    background-position: bottom, top right;
    border-radius: 16px 0px 16px 16px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
}

#sale-sec-img1 {
    margin-bottom: -5px;
    image-rendering: crisp-edges;
}

#sale-sec-img2 {
    margin-left: -60px;
    margin-top: 70px;
    z-index: 1;
    transition: transform 0.5s ease-out;
    transform-origin:top right;
}

#sale-sec-img2:hover{
    transform:scale(1.4) rotate(30deg);
}


/* Portfolio section start */


.port-sec {
    width: 1600px;
    margin: 120px 140px;
}

.port-sec-text p {
    margin: 0;
}

#port-sec-text1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#port-sec-text2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 16px 0px 22px 0px;
    width: 896px;
}

#port-sec-text3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 48px;
    margin: 0px 564px 0px 0px;
}


/* Portfolio > IMAGE section start */

.port-img-cont img {
    width: 424px;
    height: 450px;
    padding: 24px;
    transition:transform 0.3s ease;
}

.port-img-cont img:hover{
    transform: scale(0.9);    
}

.port-img-cont img:first-child {
    padding-left: 0;
}

.port-sec-row1 {
    display: flex;

}

.port-sec-row2 {
    display: flex;

}



/* Newsletter section start  */

.sub-sec {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin: 120px 140px
}

.sub-sec p {
    margin: 0;
}

#ss-img {
    padding: 80px 585px 40px 585px;
}



#ss-t1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

#ss-t2 {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 22px 212px 0px 212px;
}

.sub-sec-btn {
    width: 648px;
    height: 72px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    margin: 48px 336px 80px 336px;
}

#email-input {
    color: rgba(7, 2, 17, 0.30);

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    width: 438px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    border-color: transparent;
    background: #FFF;
    text-indent: 30px;
   

}

#sub-btn {
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    border-color: transparent;
    background: #F00;
    width: 210px;
    height: 78px;
}

#sub-btn:hover{
    background-color:crimson;
}

#email-input::placeholder {
    text-align: left;
    text-indent: 30px;
    color: rgba(7, 2, 17, 0.30);
}


/* Footer start here  */

/* Top Section  */

#footer-sec {
    width: 1600px;
    height: 609px;
    background: #070211;

}

.footer-top {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    justify-content: space-between;

}


#footer-top-left {

    padding: 120px 0px 0px 140px;
}

.footer-top-right {
    padding: 120px 275px 0px 0px;
}

.footer-top-right p {
    margin: 0;
}


/* Horizontal lines */

.hr1 {
    border: 0;
    width: 1320px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);;
    margin: 50px 140px 48px 140px;    
}

.hr2 {
    border: 0;
    width: 1320px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);;
    margin: 48px 140px 50px 140px;   
}

/* Middle section  */

.footer-middle {

    display: flex;
    padding: 0px 0px 0px 640px;
    gap: 24px;
}

/* Bottom section  */


.footer-bottom {
    display: flex;
    justify-content: space-between;
}

#footer-bottom-left {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 0px 0px 0px 140px;
}


#footer-bottom-right {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 0px 140px 0px 0px;
    text-decoration: none;
}

#footer-unsub {
    color: #FFF;
    text-decoration: none;
}