/* Header sectin styles */
.banner {
    background-image: url('../images/Banner\ Image.png');
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    margin: 50px 140px 0px 140px;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
}

#header-text1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 531px 0px 530px;
}

#header-text2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px 177px 344px;
}


/* Discount section style */
.dis-sec {
    font-family: Inter;
    font-weight: 700;
}

#dis-text1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin: 120px 609px 48px 608px;
}

#dis-text2 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 0px 601px 16px 602px;
}

#dis-text3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin: 0px 595px 0px 595px;
}

.dis-sec {
    background: #FFF;
}

.img-hny {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: 48px 398.1px 0px 399px;
}

/* Party section start */
.party-sec {
    background-image: url('../images/Vectorrr.png');
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    border-radius: 16px;
    margin: 120px 140px 0px 140px;
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#img-2024 {
    margin: 68.11px 138px 67.23px -460px;
}

#party-text1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 126px 552px 0px 126px;
    width: 642px;
}

#party-text2 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 497px 32px 126px;
}

#party-text3 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 1059px 142px 158px;
}

.join-link {
    color: #FFF;
    text-decoration: none;
}

/* Event section start */

.event-sec {
    width: 1320px;
    height: 482px;
    margin: 120px 140px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

#event-text {

    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding: 100px 386px 0px 385px;

}

.event-title {
    color: #F00;
}

.event-btn {
    color: #FFF;
    border-radius: 8px;
    background: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 48px 577px 110px 576px;
    padding: 16px 32px;
    white-space: nowrap;
}

/* Offer section start */
.offer-sec {
    display: flex;
    margin: 120px 140px;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    height: 482px;

}

.offer-col1 {}

.offer-col1 p {
    margin: 0;
}

#offer-col1-text1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 104;
}

#offer-col1-text2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 16px 0px 22px 0px;
}

#offer-col1-text3 {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer-col2-img {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 39.08px;
    width: 408.92px;
    height: 408.92px;
    flex-shrink: 0;
}

.offer-col3 p {
    margin: 0;
}


#offer-col3-text1 {
    margin-top: 112px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding: 0px 0px 16px 0px;
}

#offer-col3-text2 {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

#offer-col3-img {
    padding: 43px 136px 0px 0px;
}


/* Holiday sale section start */

.sale-sec {
    width: 1600px;
    height: 7335px;

}
.sale-sec p{
    margin: 0;
}

#sale-sec-text1 {
    color: #070211;
    font-family: Inter;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

#sale-sec-text2 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding: 16px 0px 28px 0px;

}


#sale-sec-text2-style2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

#sale-sec-text3 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    padding: 0px 266px;
}

