/* Header sectin styles */
.banner {
    margin: 50px 140px 0px 140px;
    background-image: url('../images/Banner\ Image.png');
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    border-radius: 16px;
    width: 1320px;
    height: 600px;
}

#header-text1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 531px 0px 530px;
}

#header-text2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px 177px 344px;
}